@mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

// @mixin separator {
//     background-color: $color-primary-light-2;
//     width: 3px;
// }
@mixin boxShadow($radius) {
    background-color: var(--color-background);
    box-shadow: .4rem .4rem 1rem #CDD6E7, -.4rem -.4rem 1rem #FFFFFF, .1rem .1rem .1rem rgba(200, 212, 232, 0.25), -.1rem -.1rem .1rem rgba(255, 255, 255, 0.25);
    border-radius: $radius
}

@mixin boxShadow-inset($radius) {
    background-color: var(--color-background);
    background: #E7F0FF;
    box-shadow: inset .3rem .3rem .4rem #CDD6E7, inset -.3rem -.3rem .4rem #FFFFFF;
    border-radius: $radius
}

// @mixin sectionPadding($paddingTop, $paddingBottom) {
//     padding-top: $paddingTop;
//     padding-bottom: $paddingBottom;
// }
@mixin respond($breakpoint) {
    @if $breakpoint==mobile-small {
        @media(min-width: 21em) {
            @content
        }
        ;
    }
    @if $breakpoint==mobile {
        @media(min-width: 37.5em) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-port {
        @media(max-width: 48em) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-port-900px {
        @media(max-width: 56.25em) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-land {
        @media(min-width: 56.25em) {
            @content
        }
        ;
    }
    @if $breakpoint==big-desktop {
        @media(min-width: 112.5em) {
            @content
        }
        ;
    }
}