.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @include respond(mobile-small) {
        width: 40rem;
    }
    @include respond(mobile) {}
}

.header {
    display: flex;
    flex-direction: column;
    @include boxShadow(2rem);
    @include respond(mobile) {
        flex-direction: row;
    }
}

.manage {
    @extend .box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    color: var(--color-text-light);
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__select {
        position: relative;
        &:after {
            z-index: 1;
            content: 'keyboard_arrow_down';
            font-family: 'material icons';
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            color: var(--color-text-light);
            font-size: inherit;
            pointer-events: none;
        }
    }
    &__type,
    &__list {
        @extend .soft-style;
        border: none;
        width: 10rem;
        padding: 0 1rem;
        appearance: none;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
    }
    &__option {
        font: 1.3rem;
        color: var(--color-text-light);
    }
    &__add {
        @extend .soft-style;
        height: 4rem !important;
        width: 4rem;
        border-radius: .5rem !important;
        position: relative;
    }
    &__clear {
        @extend .soft-style;
        width: 10rem;
        margin-left: auto;
    }
    &__icon {
        @include centered;
    }
    &__description,
    &__value {
        box-sizing: border-box;
        padding: 0 1rem;
        @extend .soft-style-inset;
        text-align: center;
        color: var(--color-primary);
        font-size: inherit;
        font-family: inherit;
    }
    &__description {
        width: 100%;
    }
    &__value {
        width: 10rem;
    }
}

.budget {
    @extend .box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__date {
        display: flex;
        color: var(--color-header);
        font-weight: 600;
        font-size: 2.2rem;
        justify-content: space-between;
        align-items: center;
        @include boxShadow(.5rem);
        height: 4rem;
        padding: 0 1rem;
    }
    &__results {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 1rem;
        // align-items: flex-end;
        @include boxShadow(2rem);
    }
    &__income,
    &__expenses,
    &__total {
        font-size: 1.8rem;
        font-weight: 600;
        display: flex;
        margin: 1rem 0;
        &--value {
            margin-left: auto;
        }
    }
    &__income {
        &--value {
            color: var(--color-inc);
        }
    }
    &__expenses {
        &--value {
            color: var(--color-exp);
        }
    }
    &__total {
        color: var(--color-primary);
    }
}

.sublist {
    &__incomes,
    &__expences {
        @extend .box;
        color: var(--color-primary);
        @include boxShadow(2rem);
        display: flex;
        flex-direction: column;
    }
    &__title {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 2rem;
        font-weight: 600;
    }
    &__icon {
        width: 4rem;
        height: 4rem;
        @include boxShadow(.5rem);
    }
    &__container {}
    &__list {
        box-sizing: border-box;
        list-style-type: none;
    }
    &__item {
        margin: .5rem 0;
        display: flex;
        align-items: center;
    }
    &__value {
        margin-left: auto;
        ;
    }
    &__description {
        padding-left: 1rem;
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}