:root {
    --color-primary: #3f4d67;
    --color-text-light: #5e6e8d;
    --color-header: #5c9eff;
    --color-background: #e7f0ff;
    --color-inc: #3ad92c;
    --color-exp: #ff511a;
    --color-white: #ffff;
    --color-black: #000;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
* {
    margin: 0;
    padding: 0;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    @include respond(tab-land) {}
    @include respond(tab-port) {}
    @include respond(mobile) {}
    @include respond(mobile-small) {}
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--color-background);
    min-height: 100vh;
    width: 100%;
    font-size: 1.6rem;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}